*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    margin: 5px 20px 20px 80px;
}

.card {
    width: 800px;
    height: 265px;
    /*border: 1px solid grey;*/
    display: flex;
    flex-direction: row;

    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    justify-content: space-between;
}

/* .card_left, .card_right {
    border: 1px solid blueviolet;
} */

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card_left > span {
    font-weight: 500;
    color: rgb(150, 150, 150);
}

.card_left > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* .card_left > h1 {
    margin-top: 15px;
    font-size: 25px;
} */

.card_left > p {
    color: rgb(134, 134, 134);
}

card-news :photo {
    background-image: url('assets/img/1087251_resized.png');
}